
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/wallpaper.jpg");
  background-position: center;
  background-size: cover;
  line-height: 1.4;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 1px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40vw;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 70px;
  border: 2px solid #333;
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5px;
  font-size: 1.7rem;
}

.header h1 {
  font-weight: 300;
  font-size: 3rem;
}

.board {
  border: 2px solid #333;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.stage {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  align-items: center;
  background-image: url("../img/doodles.jpg");
  background-size: cover;
  transition: height 0.4s ease-in;
}

#stage-0:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(77, 255, 77, 0.4);
}

#stage-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(26, 117, 255, 0.4);
}

#stage-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(255, 255, 77, 0.4);
}

#stage-3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(255, 133, 102, 0.4);
}

.stage__header {
  width: 100%;
  height: 50px; 
  display: flex;
  justify-content: start;
  align-items: center;
}

.stage__header p {
  margin-left: 20px;
  font-size: 1.8rem;
  color: #333;
  z-index: 5;
}

#stage-0 .stage__header {
  content: "";
  background-color: rgba(77, 255, 77, 0.7);
}

#stage-1 .stage__header {
  content: "";
  background-color:rgba(26, 117, 255, 0.7);
}

#stage-2 .stage__header {
  content: "";
  background-color: rgba(255, 255, 77, 0.7);
}

#stage-3 .stage__header {
  content: "";
  background-color: rgba(255, 133, 102, 0.7);
}

.content {
  padding: 20px;
  font-size: 1.7rem;
  z-index: 10;
}

.content.hidden {
  display: none;
}

#icon__sound {
  margin: 40px;
  transition: 0.5s;
  cursor: pointer;
}

#icon__sound:hover {
  color: green;
  transform: rotate(360deg);
}

#continue {
  color: green;
  cursor: pointer;
}

#continue:hover {
  color: #fff;
  text-shadow: 0 0 0.5em green;
}

.input {
height: 25px;
margin: 15px;
border: 2px solid #333;
border-radius: 5px;
padding: 15px 10px;
font-family: 'Poppins', sans-serif;
font-size: 1.3rem;
font-weight: 200;
}


#stage1__footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stage1__footer .text {
  font-size: 1.3rem;
}

#img__machine {
  width: 100px;
  margin-left: 50px;
  cursor: pointer;
}

#input__syll {
  width: 100px;
  text-align: center;
}

#syll__text {
  font-size: 1.3rem;
}

.container__syll {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.syllable {
  width: 90px;
  height: 90px;
  background: url('../img/caja.svg');
  margin: 10px 20px 0 20px;
}

.skin {
  position: relative;
  left: 20px;
  top: 52px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  transform: skewY(155deg);
}